<div class="row comment">
 <div class="pull-left">
  <p class="lead"><%= comment.content %></p>
  <p><small>Submitted <%= time_ago_in_words(comment.created_at) %> ago by <%= comment.user.email %></small></p>
 </div>
</div>


<%# <%= link_to 'Delete', link_comment_path(comment.link, comment), method: :delete, 
                      data: { confirm: "Are you sure ?"} %> 
